.skills_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skills_grid_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(320px, auto));
    gap: 12px;
}

.skills_grid_item_header div {
    display: flex;
    gap: 12px;
}

.skills_grid_item_header h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: 600;
    text-transform: capitalize;
}

.skills_grid_item_header p {
    margin-top: 12px;
    color: var(--n--500);
    max-width: 60ch;
}

.skills_grid_item {
    overflow: hidden;
    border: 2px solid var(--p-100);
    border-radius: 24px;
    background-color: var(--p-20);
    padding: 2rem 2rem;
    box-shadow: 0px 2px 4px hsla(233, 45%, 20%, 0.1);
}

.skills_grid_item:nth-child(1) {
    border: none;
    background: url("../../assets/congnghe.jpg") center / cover no-repeat;
}

.skills_grid_item:nth-child(1):hover {
    background-image: url("../../assets/skills.jpg");
}

.skills_grid_item:nth-child(2) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills_grid_item:nth-child(2) .icons-list-wrapper {
    overflow: hidden;
    margin-top: 8px;
    display: flex;
    gap: 12px;
}

.skills_grid_item:nth-child(2) .icons-list-wrapper:nth-child(1)>.icons-list {
    animation: move-left 30s linear infinite;
}

.skills_grid_item:nth-child(2) .icons-list-wrapper:nth-child(2)>.icons-list {
    animation: move-right 60s linear infinite;
}

.skills_grid_item:nth-child(2) .icons-list {
    display: flex;
    min-width: 100%;
    gap: 12px;
    flex-shrink: 0;
}

.skills_grid_item:nth-child(2) .icons-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.14em;
    border-radius: 12px;
    padding: 0.6em 0;
    width: 12em;
    font-weight: 700;
    font-size: var(--caption-font-size);
    text-transform: uppercase;
}

.skills_grid_item:nth-child(2) .icons-badges img {
    height: 2em;
}

.skills_grid_item:nth-child(2) .icons-badges:nth-child(even) {
    background: var(--main-gradient-color);
    color: #fff;
}

.skills_grid_item:nth-child(2) .icons-badges:nth-child(odd) {
    background: #fff;
    border: 1px solid var(--p-100);
}

.skills_grid_item:nth-child(2) .icons-badges:nth-child(odd) span {
    background: var(--main-gradient-color);
    color: transparent;
    background-clip: text;
}

.skills_grid_item:nth-child(3) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.skills_grid_item:nth-child(3) .softSkills_container {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
    margin-top: 8px;
}

.skills_grid_item:nth-child(3) .softSkills_badge {
    height: 36px;
    width: 244px;
    border: 1px solid var(--p-100);
    border-radius: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--caption-font-size);
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
}

.skills_grid_item:nth-child(3) .softSkills_badge p {
    background: var(--main-gradient-color);
    color: transparent;
    background-clip: text;
}

.skills_grid_item:nth-child(3) .softSkills_badge:nth-child(1) {
    top: 20%;
    left: 10%;
    transform: rotate(-2deg);
}

.skills_grid_item:nth-child(3) .softSkills_badge:nth-child(2) {
    bottom: 10%;
    left: 20%;
    transform: rotate(2deg);
}

.skills_grid_item:nth-child(3) .softSkills_badge:nth-child(3) {
    top: 25%;
    right: 20%;
    transform: rotate(-2deg);
}

.skills_grid_item:nth-child(3) .softSkills_badge:nth-child(4) {
    bottom: 10%;
    right: 5%;
    transform: rotate(2deg);
}

.skills_grid_item:nth-child(3) .softSkills_book_icons {
    position: relative;
    height: 100%;
    width: 100%;
}

.skills_grid_item:nth-child(3) .softSkills_book_icons img {
    height: 40px;
    width: 40px;
    position: absolute;
}

.skills_grid_item:nth-child(3) .softSkills_book_icons img:nth-child(1) {
    top: 20px;
    left: 50px;
    transform: scaleX(-1) translateY(5px);
}

.skills_grid_item:nth-child(3) .softSkills_book_icons img:nth-child(2) {
    top: 40%;
    left: 45%;
    transform: rotate(120deg);
}

.skills_grid_item:nth-child(3) .softSkills_book_icons img:nth-child(3) {
    top: 10%;
    right: 20%;
}

.skills_grid_item:nth-child(3) .softSkills_book_icons img:nth-child(4) {
    bottom: 20%;
    right: 5%;
    transform: scaleX(-1);
    transform: rotate(-40deg);
}

.skills_grid_item:nth-child(4) {
    background: url("../../assets/softskill.jpg") center / cover no-repeat;
    border: none;
}
.skills_grid_item:nth-child(4):hover {
    background-image: url("../../assets/softSkill2.jpg");
}